body {
  background-color: rgb(103 101 103);
}

#tOCList {
  /* ul for table of contents */
  background-color: rgb(186 205 176);
  border-style: solid;
  border-color: blue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

#leftSideDiv {
  background-color: rgb(114 155 121);
  border-style: solid;
  border-color: black;
}

#albumsSection {
  border-style: ridge;
  border-color: blueviolet;
}

#aboutMeDiv {
  background-color: rgb(96 122 132);
  border-color: crimson;
  border-style: ridge;
}

/* for vertical nav bar li's */
/* li a {
        display: block;
        width: 60px;
      } */

/* li a {
    display: block;
    color: #000;
    padding: 8px 16px;
  }
  
  /* Change the link color on hover */
/* li a:hover {
    background-color: #555;
    color: white;
  } */

.wrapper {
  border-style: solid;
  border-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  body > img {
    margin: 2% 2.5%;
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  body > img {
    margin: 2% 2.5%;
    width: 45%;
  }
}
